In [21]:
import pyspark
from pyspark.sql import SparkSession,Window
from pyspark.conf import SparkConf
from pyspark.sql.functions import col,lit,explode,count,when,min,max,avg,trim,sum,struct,round,broadcast,udf
from pyspark.sql.types import StringType


spark = SparkSession.builder.appName('Yagro Interview')\
                    .getOrCreate()

In [22]:
df=spark.read.csv('/home/jovyan/data/YAGRO-fuel-sales.csv')

In [23]:
def remove_spaces(s):
    return s.replace(' ','_')
remove_spaces('Farm Total')

'Farm_Total'

In [24]:
rows = df.collect()

In [25]:
main_columns =[]
for i in range(1, len(rows[0])):
    if(rows[0][i] is not None and 'Total' not in  rows[0][i]):
        main_columns.append(rows[0][i])

In [26]:
# for each main column get the subcolumns and their location
col_location =[]
current_main_col = main_columns.pop(0)
for i in range(1, len(rows[1])):
    if(rows[1][i] is None):
        col_location.append((current_main_col, remove_spaces(rows[0][i]),i))
        try:
            current_main_col = main_columns.pop(0)
        except IndexError:
            pass
    else:
        col_location.append((current_main_col, remove_spaces(rows[1][i]),i))

In [27]:
## cut the first 3 rows / rename first column and drop the last row

In [28]:
rdd_with_index = df.rdd.zipWithIndex()
df_with_index = rdd_with_index.map(lambda x: (*x[0], x[1])).toDF(df.columns + ["index"])

# get index of last row
last_row = df_with_index.agg(max("index").alias("max_index")).collect()[0][0]

df_new = df_with_index.filter((df_with_index.index > 2) & (df_with_index.index != last_row)).drop('index')

In [29]:
df_new = df_new.withColumnRenamed('_c0','order_id')

for i in col_location:
    if(i[0] not in df_new.columns):
        df_new = df_new.withColumn(i[0], struct(col(f"_c{i[2]}").alias(i[1]))).drop(f"_c{i[2]}")
    else:
        df_new = df_new.withColumn(i[0],col(i[0]).withField(i[1], col(f"_c{i[2]}").alias(i[1]))).drop(f"_c{i[2]}")

In [30]:
def extract_year(s):
    return (s.split('-')[1])
extract_year('CA-2011-100895')

'2011'

In [31]:
def extract_country(s):
    return (s.split('-')[0])
extract_country('CA-2011-100895')

'CA'

In [32]:
extract_year_udf = udf(extract_year, StringType())
extract_country_udf = udf(extract_country, StringType())
df_new = df_new.withColumn('year',extract_year_udf(col('order_id')))
df_new = df_new.withColumn('country',extract_country_udf(col('order_id')))

+--------------+--------------------+--------------------+--------------------+----+-------+
|      order_id|                Farm|           Corporate|              Retail|year|country|
+--------------+--------------------+--------------------+--------------------+----+-------+
|CA-2011-100293|{NULL, NULL, NULL...|{NULL, NULL, NULL...|{NULL, NULL, NULL...|2011|     CA|
|CA-2011-100706|{NULL, NULL, 129....|{NULL, NULL, NULL...|{NULL, NULL, NULL...|2011|     CA|
|CA-2011-100895|{NULL, NULL, NULL...|{NULL, NULL, NULL...|{NULL, NULL, NULL...|2011|     CA|
|CA-2011-100916|{NULL, NULL, NULL...|{NULL, NULL, NULL...|{NULL, NULL, NULL...|2011|     CA|
|CA-2011-101266|{NULL, NULL, 13.3...|{NULL, NULL, NULL...|{NULL, NULL, NULL...|2011|     CA|
|CA-2011-101560|{NULL, NULL, NULL...|{NULL, NULL, 542....|{NULL, NULL, NULL...|2011|     CA|
|CA-2011-101770|{NULL, NULL, NULL...|{NULL, NULL, NULL...|{NULL, NULL, NULL...|2011|     CA|
|CA-2011-102274|{NULL, NULL, NULL...|{NULL, NULL, NULL...|{NULL, NULL, NULL...|2011|     CA|
|CA-2011-102673|{NULL, NULL, NULL...|{NULL, NULL, NULL...|{NULL, NULL, NULL...|2011|     CA|
|CA-2011-102988|{NULL, NULL, NULL...|{NULL, NULL, 4251...|{NULL, NULL, NULL...|2011|     CA|
|CA-2011-103317|{NULL, NULL, NULL...|{242.546, NULL, N...|{NULL, NULL, NULL...|2011|     CA|
|CA-2011-103366|{149.95, NULL, NU...|{NULL, NULL, NULL...|{NULL, NULL, NULL...|2011|     CA|
|CA-2011-103807|{NULL, NULL, NULL...|{NULL, NULL, NULL...|{NULL, NULL, NULL...|2011|     CA|
|CA-2011-103989|{NULL, NULL, NULL...|{590.762, NULL, N...|{NULL, NULL, NULL...|2011|     CA|
|CA-2011-104283|{NULL, NULL, NULL...|{NULL, NULL, NULL...|{NULL, NULL, NULL...|2011|     CA|
|CA-2011-106054|{NULL, NULL, NULL...|{12.78, NULL, NUL...|{NULL, NULL, NULL...|2011|     CA|
|CA-2011-106810|{NULL, NULL, NULL...|{NULL, NULL, NULL...|{NULL, NULL, NULL...|2011|     CA|
|CA-2011-107573|{NULL, NULL, NULL...|{NULL, NULL, NULL...|{NULL, NULL, NULL...|2011|     CA|
|CA-2011-107811|{NULL, NULL, NULL...|{NULL, NULL, NULL...|{NULL, NULL, NULL...|2011|     CA|
|CA-2011-108707|{NULL, NULL, NULL...|{NULL, NULL, NULL...|{NULL, NULL, NULL...|2011|     CA|
+--------------+--------------------+--------------------+--------------------+----+-------+
only showing top 20 rows

### Storage

In [20]:
def order_id_null(spark,df):
    null_user_id_count = df.filter(col("order_id").isNull()).count()
    assert null_user_id_count == 0, f"order_id null test Failed"
    print("order_id null test - Success")

order_id_null(spark,df_new)

df_new.write.partitionBy('year').mode('overwrite').parquet("/home/jovyan/data/dataset.parquet")

order_id null test - Success